body{
    font-family: 微软雅黑;
    background-image: url("../images/body.jpg");
    font-size: 14px;
}

#title{
    width: 800px;
    height: 40px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 28px;
	color: #012f02;
	text-align: left;
}

#container{
    width: 800px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
	padding-top: 3px;
    margin-bottom: 100px;
    background-color: #EEEEEE;
    box-shadow: 0px 0px 3px #666666;
}

.article{
    width: 750px;
    height: 33px;
	padding-left: 45px;
	padding-right: 5px;
    background-color: #EEEEEE;
	line-height: 33px;
	float: left;
    text-decoration: none;
    color: #24417d;
}


.article-2{
    width: 750px;
    height: 33px;
	padding-left: 45px;
	padding-right: 5px;
    background-color: #E6E6E6;
	line-height: 33px;
	float: left;
    text-decoration: none;
    color: #24417d;
}

.article:hover{
    color: #024d04;
}

.article-2:hover{
    color: #024d04;
}

#bottom-bar{
    width: 800px;
    height: 0px;
	clear:both;
}

