body{
    font-family: 微软雅黑;
    background-image: url("../images/body.jpg");
    font-size: 13px;
}

#logo{
    width: 280px;
    height: 100px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

#search-bar{
    margin-top: 25px;
    width: 600px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#search-bar input {
    width: 580px;
    height: 25px;
    padding: 9px 10px;
    font-family: 微软雅黑;
    font-size: 15px;
    color: #555;
    border: none;
    background: #fff;
    overflow: hidden;
    outline:none;
    vertical-align: middle;
    box-shadow: 1px 1px 3px rgb(160,160,160);
	border-radius: 2px;
}

#search-bar button {
	margin-top: 20px;
	margin-left: 20px;
    width: 105px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
	font-weight: bold;
	color: rgb(100,100,100);
    border: none;
    overflow: hidden;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
	border-radius: 2px;
    background-color: rgb(255,255,255);
    box-shadow: 0px 0px 1px rgb(160,160,160);
}

#search-bar button:hover{
    background-color: rgb(240,240,240);
    box-shadow: 0px 0px 3px rgb(160,160,160);
}

#nav-panel{
    margin-top: 20px;
    margin-bottom: 100px;
    width: 840px;
    height: 485px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-top: 10px;
    background-color: #FFFFFF;
    border: 1px solid rgb(210,210,210);
}

.nav-panel-line{
    clear: both;
    width: 810px;
    height:1px;
    background-color: #F0F0F0;
}

.nav-panel-item {
    float: left;
    display: block;
    height: 40px;
    width: 160px;
    border: 1px solid transparent;
    text-decoration: none;
    color: #333;
}

.nav-panel-item:hover
{
    background-color: #F7F7F7;
}

.nav-panel-item-img{
    float: left;
    margin-top: 12px;
    margin-left: 15px;
}

.nav-panel-item-txt {
    float: left;
    margin-left: 5px;
    line-height: 40px;
    height: 40px;
}