body{
    background-color: rgb(33,33,37);
	font-family: 'Microsoft YaHei UI',arial,sans-serif;
    font-size: 13px;
}

body::-webkit-scrollbar {
    display: none;
}

#logo{
    width: 280px;
    height: 100px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
}

#search-bar{
    margin-top: 25px;
    width: 600px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
}

#search-bar input {
    width: 580px;
    height: 25px;
    padding: 9px 10px;
	font-family: 'Microsoft YaHei UI',arial,sans-serif;
    font-size: 15px;
    color: #555;
    border: none;
    background: #fff;
    overflow: hidden;
    outline:none;
    vertical-align: middle;
	border-radius: 2px;
}

#search-bar button {
	margin-top: 20px;
	margin-left: 20px;
    width: 105px;
    height: 35px;
    overflow: hidden;
    text-align: center;
    font-size: 15px;
	font-weight: bold;
	color: rgb(255,255,255);
    border: none;
    overflow: hidden;
    vertical-align: middle;
    outline: none;
    cursor: pointer;
	border-radius: 2px;
    background-color: rgb(20,162,245);
}

#search-bar button:hover{
    background-color: rgb(30,172,245);
    box-shadow: 0px 0px 3px rgb(243,67,53);
}

#nav-panel{
    margin-top: 20px;
    margin-bottom: 100px;
    width: 840px;
    height: 485px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-top: 10px;
    background-color: rgb(58,58,62);

	border-radius: 10px;
}

.nav-panel-line{
    clear: both;
    width: 810px;
    height:1px;
    background-color: rgb(62,61,65);
}

.nav-panel-item {
    float: left;
    display: block;
    height: 40px;
    width: 160px;
    border: 1px solid transparent;
    text-decoration: none;
    color: rgb(255,255,255);
}

.nav-panel-item:hover
{
    background-color: rgb(55,55,60);
}

.nav-panel-item-img{
    float: left;
    margin-top: 12px;
    margin-left: 15px;
}

.nav-panel-item-txt {
    float: left;
    margin-left: 5px;
    line-height: 40px;
    height: 40px;
}